<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Telegram Notifier</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav">
                    <li class="nav-item" class="active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apigen">New API Endpoint</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Telegram Notifier</h3>
        </div>
        <div class="jumbotron">
            <h2>Current Endpoints</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">API Key</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for datarow in datalisting %}
                    <tr>
{#                        <th scope="row"></th>#}
                        <td>{{ datarow[0] }}</td>
                        <td>{{ datarow[1] }}</td>
                        <td>{{ datarow[2] }}</td>
                        <td>
                            <form action="/deleterecord" method="post">
                                <input type="hidden" name="apikey" value="{{ datarow[2] }}">
                                <input type="hidden" name="confirm" value="false">
                                <button id="deleterecord" type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            <div class="row">

            </div>
            </table>
{#            <p class="lead"></p>#}
{#            <p><a class="btn btn-lg btn-success" href="/apigen" role="button">Sign in</a>#}
{#            </p>#}
        </div>
    </div>
</body>
</html>